.event-details-dialog-component {

  .event-details-container {
    display: flex;
    flex-direction: column;

    .event-details-column {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 12px;

      .category-image-field {
        width: fit-content;
      }
    }
  }

  .event-details-property {
    display: flex;
    flex-direction: row;
    gap: 12px;

    mat-label {
      font-weight: 500;
    }
  }
}
