<mat-toolbar color="primary">
  <div class="navbar-container">
    <div class="navbar-left-container">
      <span routerLink="/">Ticketing App</span>
    </div>

    <div class="navbar-right-container" >

      <button mat-icon-button (click)="openCartPanelAsDialog($event)">
        <mat-icon
          [matBadge]="cartItemCount > 0 ? cartItemCount : null"
          matBadgeColor="accent"
          >shopping_cart</mat-icon
        >
      </button>

      <button mat-icon-button (click)="openProfileMenuAsDialog($event)">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
