.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 300px;
}

.navbar-left-container {
  display: flex;
  align-items: center;
}

.navbar-right-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.transparent-backdrop {
  background: transparent;
}