<div class="grid no-horizontal-padding">
  <div class="authentication-page-container">
    <form
      (submit)="authenticate()"
      [formGroup]="authenticationForm"
      class="authentication-form"
    >
      <h2>Login into your account</h2>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error
          *ngIf="
                authenticationForm.get('email')?.errors?.['required'] &&
                authenticationForm.get('email')?.touched
              "
        >
          Email field is required
        </mat-error>
        <mat-error
          *ngIf="
                authenticationForm.get('email')?.errors?.['email'] &&
                authenticationForm.get('email')?.touched
              "
        >
          Invalid email format
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error
          *ngIf="
                  authenticationForm.get('password')?.errors?.['required'] &&
                  authenticationForm.get('password')?.touched
                "
        >
          Password field is required
        </mat-error>
      </mat-form-field>

      <div *ngIf="errorMessageList">
        <mat-error *ngFor="let errorMessage of errorMessageList">
          {{ errorMessage }}
        </mat-error>
      </div>

      <a [routerLink]="'/registration'">You don't have an account?</a>

      <div class="authenticate-button">
        <button mat-flat-button type="submit" color="warn">Authenticate</button>
      </div>
    </form>
  </div>
</div>
