.event-details-dialog-component {

  .event-details-container {
    display: flex;
    flex-direction: column;

    .event-details-columns {
      display: flex;
      flex-direction: row;

      .event-details-column {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 12px;
      }
    }

    .event-description-container {
        padding-top: 12px;
    }
  }

  .event-details-property {
    display: flex;
    flex-direction: row;
    gap: 12px;

    mat-label {
      font-weight: 500;
    }
  }
}
