<div class="event-details-dialog-component">
  <h2 mat-dialog-title>Event Details</h2>

  <div mat-dialog-content class="event-details-container">
    <div class="event-details-columns">
      <div class="event-details-column">
        <div class="event-details-property">
          <mat-label>Name: </mat-label>
          <span>{{ clonedEventData.name }}</span>
        </div>
        <div class="event-details-property">
          <mat-label>Artist: </mat-label>
          <span>{{ clonedEventData.artist }}</span>
        </div>
        <div class="event-details-property">
          <mat-label>Date: </mat-label>
          <span>{{ clonedEventData.date | date }}</span>
        </div>
      </div>

      <div class="event-details-column">
        <div class="event-details-property">
          <mat-label>Category: </mat-label>
          <span>{{ clonedEventData.category.name }}</span>
        </div>
        <div class="event-details-property">
          <mat-label>Location: </mat-label>
          <span>{{ clonedEventData.location }}</span>
        </div>
        <div class="event-details-property">
          <mat-label>Price: </mat-label>
          <span>{{ clonedEventData.price }}</span>
        </div>
      </div>
    </div>

    <div class="event-description-container">
      <div class="event-details-property">
        <mat-label>Description: </mat-label>
        <span>{{ clonedEventData.description }}</span>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button color="warn" (click)="close()">Close</button>
  </div>
</div>
