.cart-ticket-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px rgba(189, 189, 189, 1);

  .cart-ticket-container-left {
    display: flex;
    align-items: center;

    .product-image {
      object-fit: cover;
      width: 80px;
      height: 80px;
    }

    .ticket-event-preview-details {
      display: flex;
      flex-direction: column;
      margin-left: 42px;
      padding-right: 16px;
      border-right: 1px solid #ddd;
    }

    .price-details {
      padding-left: 16px;
      font-size: large;
      font-weight: 700;
    }
  }

  .cart-ticket-container-right {
    display: flex;
    align-items: center;
    flex-direction: row;

    .ticket-price {
      font-size: large;
    }

    .action-buttons {
      display: flex;
      flex-direction: column;
      

      .ticket-form-counter {
        width: 100px;
        margin-bottom: -12px;
      }
    }
  }
}
