<div class="grid no-horizontal-padding">
  <div class="orders-container">
    <table
      mat-table
      *ngIf="dataSource"
      [dataSource]="dataSource"
      class="orders-table mat-elevation-z8"
    >
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let order; let index = index">
          {{ index + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef>Order ID</th>
        <td mat-cell *matCellDef="let order">{{ order.id }}</td>
      </ng-container>

      <ng-container matColumnDef="ticketsNumber">
        <th mat-header-cell *matHeaderCellDef>Number of Tickets</th>
        <td mat-cell *matCellDef="let order">{{ order.numberOfTickets }}</td>
      </ng-container>

      <ng-container matColumnDef="orderTotal">
        <th mat-header-cell *matHeaderCellDef>Total Amount</th>
        <td mat-cell *matCellDef="let order">{{ order.orderTotal }}</td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let order">{{ order.createdDate | date }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openOrderDetails(row.id)" class="order-clickable-row"></tr>
    </table>
  </div>
</div>
