.cart-ticket-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  margin: 24px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px rgba(189, 189, 189, 1);

  .cart-ticket-container-left {
    display: flex;
    align-items: center;

    .product-image {
      object-fit: cover;
      width: 80px;
      height: 80px;
    }

    .ticket-event-preview-details {
      display: flex;
      flex-direction: column;
      margin-left: 42px;
      padding-right: 16px;
      border-right: 1px solid #ddd;
    }
  }
}

.important-details {
  padding-left: 16px;
  font-size: large;
  font-weight: 700;
}
