<loading-spinner *ngIf="loading"></loading-spinner>

<div class="grid no-horizontal-padding">
  <ng-container *ngIf="!loading">
    <events-galleria
      class="events-galleria-container"
      [events]="lastTenAddedEvents"
    ></events-galleria>
  </ng-container>
</div>

<mat-divider></mat-divider>

<div class="grid no-horizontal-padding">
  <mat-chip-listbox>
    <mat-chip *ngFor="let category of categories"
      ><span (click)="redirectToCategoryPage(category.categoryId)">{{
        category.name
      }}</span></mat-chip
    >
  </mat-chip-listbox>
</div>

<div class="grid no-horizontal-padding">
  <div class="events-sections-container">
    <events-carousel
      *ngIf="
        tenEventsBasedOnUserLikeStatuses &&
        tenEventsBasedOnUserLikeStatuses.length > 0
      "
      [carouselHeader]="'Based on your last likes'"
      [events]="tenEventsBasedOnUserLikeStatuses"
    ></events-carousel>

    <events-carousel
      *ngIf="
        tenEventsBasedOnUserOrders && tenEventsBasedOnUserOrders.length > 0
      "
      [carouselHeader]="'You may like'"
      [events]="tenEventsBasedOnUserOrders"
    ></events-carousel>

    <events-carousel
      *ngIf="
        tenEventsBasedOnOtherUsersLikeStatuses &&
        tenEventsBasedOnOtherUsersLikeStatuses.length > 0
      "
      [carouselHeader]="'Based on what likes'"
      [events]="tenEventsBasedOnOtherUsersLikeStatuses"
    ></events-carousel>

    <events-carousel
      *ngIf="mostBoughtTenEvents && mostBoughtTenEvents.length > 0"
      [carouselHeader]="'Most wanted'"
      [events]="mostBoughtTenEvents"
    ></events-carousel>

    <!-- <events-carousel
      *ngIf="lastTenAddedEvents && lastTenAddedEvents.length > 0"
      [carouselHeader]="'Newly added'"
      [events]="lastTenAddedEvents"
    ></events-carousel> -->

    <events-carousel
      *ngIf="events && events.length > 0"
      [carouselHeader]="'All events'"
      [events]="events"
    ></events-carousel>
  </div>
</div>
