<div class="cart-panel-container">
    <ng-container *ngIf="tickets.length > 0; else emptyCart">
    <div *ngFor="let item of tickets" class="cart-item">
      <div>
        <span>{{ item.quantity }}</span> x
        <span
          ><b>{{ item.event.name }}</b></span
        >
      </div>

      <span>{{ item.price * item.quantity | currency : "EUR" }}</span>
    </div>
    <div class="total-cart-amount-container">
      <span>TOTAL:</span>
      <span>{{ cartTotalAmount | currency : "EUR"}}</span>
    </div>
    <div class="checkout-button-container">
      <button color="accent" mat-flat-button class="checkout-button" (click)="redirectToCheckout()">Go to check-out</button>
    </div>
  </ng-container>
  
  <ng-template #emptyCart>
    <div class="empty-cart-title">THERE'S NOTHING IN HERE..</div>
  </ng-template>
</div>
