<loading-spinner *ngIf="loading"></loading-spinner>

<div class="grid no-horizontal-padding">
  <div class="presentation-carrousel-placeholder">
    <img
      mat-card-image
      class="product-image"
      [src]="imageUrl"
      alt="Product Image"
    />

    <div class="like-buttons" *ngIf="userEventLikeStatus && isUserLoggedIn">
      <div class="like-button">
        <button
          mat-icon-button
          (click)="dislikeEvent()"
          [class.liked]="
            userEventLikeStatus.isLiked != null && !userEventLikeStatus.isLiked
          "
          [disabled]="
            userEventLikeStatus.isLiked != null && userEventLikeStatus.isLiked
          "
        >
          <mat-icon>thumb_down </mat-icon>
        </button>
      </div>
      <div class="like-button">
        <button
          mat-icon-button
          (click)="likeEvent()"
          [class.liked]="
            userEventLikeStatus.isLiked != null && userEventLikeStatus.isLiked
          "
          [disabled]="
            userEventLikeStatus.isLiked != null && !userEventLikeStatus.isLiked
          "
        >
          <mat-icon>thumb_up </mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="event-details-container" *ngIf="eventDetails">
    <div class="event-details-main">
      <div class="mat-headline-3 event-title">{{ eventDetails.name }}</div>

      <div class="event-details-about">
        <div class="event-detail-section">
          <h2>Artist</h2>
          <div class="mat-body-1">{{ eventDetails.artist }}</div>
        </div>

        <div class="event-detail-section">
          <h2>Date</h2>
          <div class="mat-body-1">{{ eventDetails.date | date }}</div>
        </div>

        <div class="event-detail-section">
          <h2>Category</h2>
          <div class="mat-body-1">{{ eventDetails.category.name }}</div>
        </div>

        <div class="event-detail-section">
          <h2>Location</h2>
          <div class="mat-body-1">{{ eventDetails.location }}</div>
        </div>

        <div class="event-detail-section">
          <h2>About this event</h2>
          <div class="mat-body-1">{{ eventDetails.description }}</div>
        </div>
      </div>
    </div>

    <div class="event-tickets-container">
      <form
        [formGroup]="form"
        (ngSubmit)="addTickets()"
        class="tickets-form-container"
      >
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input
            matInput
            type="number"
            formControlName="quantity"
            min="0"
            (keydown)="$event.preventDefault()"
          />
        </mat-form-field>

        <button
          mat-raised-button
          color="warn"
          type="submit"
          [disabled]="form.get('quantity')!.value == 0"
        >
          Add to cart
          <span *ngIf="form.get('quantity')!.value != 0"
            >for {{ quantityValueMultiplied | currency : "EUR" }}</span
          >
        </button>
      </form>
    </div>
  </div>
</div>
